@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: montserrat;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #00adb5 #393e46;
}


.intern-shadow{
  box-shadow: -2px 0px 30px -4px rgba(0,0,0,.7) inset;
-webkit-box-shadow: -2px 0px 30px -4px rgba(0,0,0,.7) inset;
-moz-box-shadow: -2px 0px 30px -4px rgba(0,0,0,.7) inset;
}

.accent-shadow{
  filter: drop-shadow(0 0 .35rem #00adb5);
}




